.principal{
    max-width: 400px;
    border: solid 1px #000;
    border-radius: 25px;
    margin-top: 150px;
    padding: 30px;
    box-shadow: 10px 10px 40px #000;
}

.img-responsive{
    max-width: 200px;
    margin: 0 auto;
}

.input-group{
    padding: 10px;
}

.form-control{
    padding: 20px;
    font-family: Century Gothic;
    font-size: 16px;
}

.row img{
    width: 400px;
}

.btn-four {
  color: #fff;
  background-color: #1F7593;
  border-color: #1F7593;
}
.btn-four:focus,
.btn-four.focus {
  color: #fff;
  background-color: #F59134;
  border-color: #FFFFFF;
}
.btn-four:hover {
  color: #fff;
  background-color: #F59134;
  border-color: #d58512;
}
.btn-four:active,
.btn-four.active,
.open > .dropdown-toggle.btn-four {
  color: #fff;
  background-color: #F59134;
  border-color: #d58512;
}
.btn-four:active:hover,
.btn-four.active:hover,
.open > .dropdown-toggle.btn-four:hover,
.btn-four:active:focus,
.btn-four.active:focus,
.open > .dropdown-toggle.btn-four:focus,
.btn-four:active.focus,
.btn-four.active.focus,
.open > .dropdown-toggle.btn-four.focus {
  color: #fff;
  background-color: #d58512;
  border-color: #FFFFFF;
}
.btn-four:active,
.btn-four.active,
.open > .dropdown-toggle.btn-four {
  background-image: none;
}
.btn-four.disabled:hover,
.btn-four[disabled]:hover,
fieldset[disabled] .btn-four:hover,
.btn-four.disabled:focus,
.btn-four[disabled]:focus,
fieldset[disabled] .btn-four:focus,
.btn-four.disabled.focus,
.btn-four[disabled].focus,
fieldset[disabled] .btn-four.focus {
  background-color: #1F7593;
  border-color: #1F7593;
}
.btn-four .badge {
  color: #1F7593;
  background-color: #fff;
}
